* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    width: 325px;
    border: 1px solid lightgrey;
}

.authors img {
    width: 20px;
    margin-left: 3px;
}

.octocat {
    float: left;
    margin: 10px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.image-footer {
    color: grey;
    border-bottom: 1px solid lightgrey;
    padding: 5px;
}

.authors {
    float: right;
    padding: 0px;
}

.image-caption {
    float: right;
}

span.image-number:before {
    content: "#";
}
